body, p{
    margin: 0;
    padding: 0;
}
/* header */
nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 2em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav img {
    height: 20px;
}

/* main */
main {
    width: 50%;
    margin: 6.9em auto;
    text-align: center;
}
.two{
    width: 50%;
}
input{
    width: 70%;
    padding: 0.81em;
    border-radius: 20px;
    border: 0.8px solid gray;
}
    
.btn-container{
    margin-top: 1em;
}
.btn-container button{
    padding: 0.8em;
    border: none;
}

/* footer */
footer{
    background-color: rgb(238, 234, 234);
}
.footer-top{
    padding: 1em;
}
.footer-down{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}
.left a{
    margin-right: 1em;
}
.right a{
    margin-right: 1em;
}